#car-info  { 
    padding-top: 30px;
}

body {
    padding-top: 40px;
}

img {
    max-width: 70%;
}

main {
    display: flex;
}

.main-body {
    display: flex;
    gap: 100px;
}

.select {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

#car-select {
    width: 450px;
}

.input {
    width: 300px;
}

.form {
    display: flex;
    gap: 5px;
}

#driver-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: 400;
    flex-direction: row-reverse;
    padding-top: 30px;
    gap: 10px;
}

.driver-photo {
    width: 30px;
    height: 30px;
}

marquee {
    font-size: 28px;
    color: gray;
    font-weight: 600;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

header {
    padding-bottom: 30px;
}

#travel-time {
    margin-bottom: 30px;
}

.is-primary {
    width: 300px;
}

#distance-input, #calculate-btn {
    margin-bottom: 10px;
}

.result-trip {
    color: black;
}