* { 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.modal { 
    width: 400px;
    height: 250px;
    border-radius: 2%;
    background-color: aliceblue;
    display: none;
    flex-direction: column;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title  {
    background-color: #31a6d1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-shadow: 1px 2px 8px -1px currentColor;
    border-radius: 1%;
}

h3 { 
    color: whitesmoke;
}

body {
    background-color: currentColor;
}

p { 
    font-size: 14px;
}

.text { 
    padding-top: 15px;
}

.btn-block { 
    display: flex;
    justify-content: flex-end;
}

.body-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pad-top { 
    padding-top: 10px;
}

.open-window {
    display: flex;
}

.traffic-light { 
    height: 250px;
    width: 100px;
    background-color: currentColor;
    border: 1px solid grey;
    border-radius: 1%;
    padding-top: 8px;
    box-shadow: 8px 6px 1px -1px whitesmoke;
}

.body-traffic { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.light { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px white;
}

.green  {
    background-color: #00FF00;
    opacity: 0.2;
}

.yellow  {
    background-color: yellow;
    opacity: 0.2;
}

.red  {
    background-color: red;
    opacity: 0.2;
}

.center {
    display: flex;
    justify-content: center;
}

.btn-light { 
    width: 100px;
}

#btn-traffic {
    padding-top: 25px;
}